<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'registration:event_admin_list' %}">Registration Events</a></li>
    <li class="breadcrumb-item active" aria-current="page">Modify Registration Event</li>
  </ol>
</nav>

<h4>{{ event.name }} Registration - {{ section_title }}</h4>

<div class="mb-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if event_menu_selected == "roster" %}active{% endif %}" href="{% url 'registration:event_admin_roster' event_slug=event_slug %}">
        Roster
        <span class="badge badge-secondary">{{ roster_menu_count }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if event_menu_selected == "invites" %}active{% endif %}" href="{% url 'registration:event_admin_invites' event_slug=event_slug %}">
        Invites
        <span class="badge badge-secondary">{{ invites_pending_menu_count }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if event_menu_selected == "billingperiods" %}active{% endif %}" href="{% url 'registration:event_admin_billing_periods' event_slug=event_slug %}">Billing Periods</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if event_menu_selected == "settings" %}active{% endif %}" href="{% url 'registration:event_admin_settings' event_slug=event_slug %}">Settings</a>
    </li>
  </ul>
</div>

{% include 'utils/messages.html' %}