{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>Manage Registration Events</h1>
    </div>
    <div class="row">
        <a href="{% url 'registration:event_admin_create' %}">
            <button type="button" class="btn btn-primary btn-sm">Create Registration Event</button>
        </a>
    </div>
    <div class="row">
        {% if current_events %}
            <div class="list-group">
                {% for event in current_events %}
                    <a href="{% url 'registration:event_admin_invites' event_slug=event.slug %}" class="list-group-item list-group-item-action">
                        {{ event.name }}
                    </a>
                {% endfor %}
            </div>
        {% else %}
            No Events found. Maybe you should create one?
        {% endif %}
    </div>

</div>



{% if past_events %}
<div class="container">
    <div class="row">
        <h3>Past Registration Events</h3>
    </div>
    <div class="row">
        <div class="list-group">
            {% for event in past_events %}
                <a href="{% url 'registration:even_admin_roster' event_slug=event.slug %}" class="list-group-item list-group-item-action">
                    {{ event.name }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}