{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block css %}
<style type="text/css">
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #80bdff;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  max-width:400px;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
</style>
{% endblock %}

{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>

<script>
// Create a Stripe client.
var stripe = Stripe('pk_test_ewB0eFxUAWV0cMJEV2UJcHJQ');

// Create an instance of Elements.
var elements = stripe.elements();

var style = {
  base: {
    color: '#495057',
    lineHeight: '18px',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#6e6e6e'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  console.log("here?");
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the customer that there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

function stripeTokenHandler(token) {
  $('#id_stripe_token').val(token.id);
  form.submit();
}
</script>
{% endblock %}


{% block content %}

<h2>{{ event.name }} Registration</h2>

{% include 'utils/messages.html' %}

{% if event.description %}
    <div class="container">
        <div class="row">
            <div class="alert alert-info" role="alert">
            {{ event.description_html|safe }}
            </div>
        </div>
    </div>
{% endif %}


<form method="post" action="{% url 'register:show_form' event_slug=event.slug %}" id="payment-form">


{% crispy form %}


{% if legal_form %}
    <legend>Legal Forms</legend>
    
    Please read and indicate that you agree to the following:
    <div id="div_id_legal_forms" class="form-group"> 
     <div class="">
    {% for field in legal_form %}
        <div class="form-check"> 
            <label class="form-check-label" for="{{ field.name }}"> 
                <input type="checkbox" class="form-check-input" name="{{ field.name }}" id="{{ field.name }}" value="{{ field.name }}" required>
                <a href="{{ field.label }}" target="_blank">{{ field.help_text }}</a>
            </label> 
        </div>
    {% endfor %}
     </div>
    </div>
{% endif %}

{% if billing_amount > 0 %}

<legend>Payment</legend>
<div class="mt-1 mb-3">
    <label for="card-element">
      <strong>Due with Registration: </strong> ${{ billing_amount }}
    </label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>

</div>


{% endif %}


<div class="form-group row"> 
    <div class=""> 
        <input type="submit" value="Submit Registration" class="btn btn-primary button white" id="submit-id-submit" /> 
    </div>
</div>

</form>

{% endblock %}