{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Registration - {{ event.name }}{% endblock %}

{% block social %}
{% include 'registration/register_social_seo.html' with event=event league=event.league %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style type="text/css">



.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #80bdff;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  max-width:400px;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
</style>
{% endblock %}

{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>

<script>
function show_hide_address_fields(group, show) {
  $(`#div_id_${group}_address1, #div_id_${group}_address2, #div_id_${group}_city, #div_id_${group}_state, #div_id_${group}_zipcode`).each(function() {
    if(show) {
      $(this).show();
    } else {
      $(this).hide();
    }
  });
}

$(document).ready(function() {
  if($('#id_parent1_address_same').prop('checked'))
    show_hide_address_fields('parent1', false);
  if($('#id_parent2_address_same').prop('checked'))
    show_hide_address_fields('parent2', false);

  $('#id_parent1_address_same, #id_parent2_address_same').click(function() {
    checked = $(this).prop('checked');

    if($(this).attr('id').includes('parent1'))
      group = "parent1";
    else
      group = "parent2";
    
    if(checked) {
      show_hide_address_fields(group, false);
      $(`#id_${group}_address1`).val('');
      $(`#id_${group}_address2`).val('');
      $(`#id_${group}_city`).val('');
      $(`#id_${group}_state`).val('');
      $(`#id_${group}_zipcode`).val('');
    } else {
      show_hide_address_fields(group, true);
      $(`#id_${group}_address1`).focus();
    }
  });
});

{% if billing_amount > 0 %}
// Create a Stripe client.
var stripe = Stripe('{{ event.league.get_stripe_public_key }}');

// Create an instance of Elements.
var elements = stripe.elements();

var style = {
  base: {
    color: '#495057',
    lineHeight: '18px',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#6e6e6e'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});
{% endif %}

var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  $('#submit-id-submit').prop("disabled", true).val("Please wait...");

  {% if billing_amount > 0 %}
  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the customer that there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
      $('#submit-id-submit').prop("disabled", false).val("Submit Registration");
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
      $('#submit-id-submit').val("Almost done...");
    }
  });
  {% else %}
      stripeTokenHandler(false);
      $('#submit-id-submit').val("Almost done...");
  {% endif %}
});

function stripeTokenHandler(token) {
  if(token) {
    $('#id_stripe_token').val(token.id);
  }

  $('#id_emergency_date_of_birth').val(
    $('#id_birth_month').val() + "/" +
    $('#id_birth_day').val() + "/" +
    $('#id_birth_year').val()
  );
  form.submit();
}
</script>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">

<h2>{{ event.name }} Registration</h2>

{% include 'utils/messages.html' %}

{% if event.description %}
    <div class="container">
        <div class="row">
            <div class="alert alert-info" role="alert">
            {{ event.description_html|safe }}
            </div>
        </div>
    </div>
{% endif %}


<form method="post" action="{% url 'register:show_form' event_slug=event.slug league_slug=event.league.slug %}" id="payment-form">


{% crispy form %}


{% if legal_form %}
  <legend>Legal Documents</legend>

  {% if event.legal_blurb %}
    <div class="container">
        <div class="row">
            <div class="alert alert-secondary" role="alert">
            {{ event.legal_blurb_html|safe }}
            </div>
        </div>
    </div>
  {% endif %}

    {% if legal_form.errors %}
      <div class="alert alert-danger" role="alert" id="error_legal_document_agree">
        You must agree to the legal documents below to register. Please contact us if you have any questions.
      </div>
    {% endif %}

    <p>
      You must read and agree to the following documents to particapte in this event. <i>Please review them.</i> <mark><strong>It is extremely important that you actually read them!</strong></mark>
    </p>


  {% if event.form_type == 'minor' %}

  <fieldset>
  <legend>PARENT / GUARDIAN - AGREE AND INITIAL HERE</legend>

    <div id="div_id_guardian_input" class="form-group"> 
      <ol> 
      {% for document in event.legal_forms_guardian.all %}
        <li><a href="{% url 'legal:view_event_legal_documents' league_slug=event.league.slug event_slug=event.slug %}#doc{{ document.id }}-guardian" target="_blank">{{ document.name }} ({{ document.date }})</a></li>
        {% endfor %}
      </ol>

     <div class="">
        <div class="form-check form-check-inline">
          <input type="text" name="legal_initials_guardian" id="id_legal_initials_guardian" maxlength="3" minlength="2" required style="width:90px;font-size:larger;text-align:center;" placeholder="INITIALS">
          <label class="ml-3">
            <strong>By initialing here, I indicate that I have read and agree to the {% if event.legal_forms_guardian.all.count > 1 %}{{ event.legal_forms_guardian.all.count }} documents{% else %}document{% endif %} above.</strong>
          </label> 
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
  <legend>SKATER PARTICIPANT - AGREE AND INITIAL HERE</legend>
    <div id="div_id_participant_input" class="form-group"> 
      <ol> 
      {% for document in event.legal_forms.all %}
        <li><a href="{% url 'legal:view_event_legal_documents' league_slug=event.league.slug event_slug=event.slug %}#doc{{ document.id }}-participant" target="_blank">{{ document.name }} ({{ document.date }})</a></li>
        {% endfor %}
      </ol>

     <div class="">
        <div class="form-check form-check-inline">
          <input type="text" name="legal_initials_participant" maxlength="3" minlength="2" id="id_legal_initials_participant" required style="width:90px;font-size:larger;text-align:center;" placeholder="INITIALS">
          <label class="ml-3">
            <strong>By initialing here, I indicate that I have read and agree to the {% if event.legal_forms.all.count > 1 %}{{ event.legal_forms.all.count }} documents{% else %}document{% endif %} above.</strong>
          </label> 
        </div>
      </div>
    </div>
  </fieldset>


  {% else %}
    <div id="div_id_legal_forms" class="form-group"> 
      <ol> 
      {% for document in event.legal_forms.all %}
        <li><a href="{% url 'legal:view_event_legal_documents' league_slug=event.league.slug event_slug=event.slug %}#doc{{ document.id }}" target="_blank">{{ document.name }} ({{ document.date }})</a></li>
        {% endfor %}
      </ol>

     <div class="">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="legal_agree" id="legal_agree" value="legal_agree" required>
          <label>
            <strong>I have read and agree to the {% if event.legal_forms.all.count > 1 %}{{ event.legal_forms.all.count }} documents{% else %}document{% endif %} above.</strong>
          </label> 
        </div>
      </div>
    </div>

  {% endif %}
{% endif %}



{% if billing_amount > 0 %}

<legend>Payment</legend>

{% if event.payment_blurb %}
    <div class="container">
        <div class="row">
            <div class="alert alert-secondary" role="alert">
            {{ event.payment_blurb_html|safe }}
            </div>
        </div>
    </div>
{% endif %}

<div class="mt-1 mb-3">
    <label for="card-element">
      <strong>Due with Registration: </strong> ${{ billing_amount }}
    </label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>
    <small class="form-text text-muted">Please enter your credit card, expiration date, CVC code and zip code.</small>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>

</div>


{% endif %}


<div class="form-group row form-submit"> 
    <div class=""> 
        <input {% if preview_mode_disable_button %}aria-disabled="true" disabled="disabled"{% endif %} type="submit" value="Submit Registration" class="btn btn-primary button white" id="submit-id-submit" />
    </div>
</div>

</form>

  </div>
</div>
{% endblock %}