        
        <div style="border-bottom: 1px solid #eaeaea;margin: 15px 0 10px 0;"></div>

        <div style="font-size:smaller">
            {{ league.email_signature|safe }}
        </div>
    </div>
</div>

<div style="height:18px;background-color:{{ league.style_color_one|default:'#F9FC69' }};"></div>
<div style="height:18px;background-color:{{ league.style_color_two|default:'#35E5F4' }};box-shadow:2px 5px 6px #888;"></div>

{% if league.logo_thumbnail_footer %}
<div style="margin:20px auto 0 auto;width:300px;">
    <img src="{{ url_domain }}{{ league.logo_thumbnail_footer.url }}" alt="{{ league.name }}">
</div>
{% endif %}

</body>
</html>