<html style="margin:0;padding:0;">
<body>
<div style="background-color:#eaeaea;margin:0;padding:0;">
    <div style="height:18px;background-color:{{ league.style_color_two|default:'#35E5F4' }};">&nbsp;</div>
    <div style="height:18px;background-color:{{ league.style_color_one|default:'#F9FC69' }};box-shadow:2px 5px 6px #888;">&nbsp;</div>
    <div style="margin: 0 auto 0 auto;padding: 20px;background-color:white;width:600px;font-family: Arial, sans-serif;border-left: 1px solid #aeaeae; border-right: 1px solid #aeaeae;line-height:140%;">

        <div style="font-size: 1.3em; font-family: {{ league.style_email_font:default:"'Lucida Sans Unicode', 'Lucida Grande', sans-serif" }}; text-shadow: 2px 2px 4px rgba(150, 150, 150, 0.56);">
            <img src="{{ url_domain }}{{ league.logo_thumbnail_header.url }}" alt="{{ league.name }}">
            <span style="position:relative;bottom:15px;margin-left:10px">{{ league.name }}</span>
        </div>

        <div style="border-bottom: 1px solid #eaeaea;margin: 15px 0 5px 0;"></div>
