<html style="margin:0;padding:0;">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<body>
<div style="background-color:#eaeaea;margin:0;padding:0;">
    <div style="height:18px;background-color:#35E5F4;">&nbsp;</div>
    <div style="height:18px;background-color:#F9FC69;box-shadow:2px 5px 6px #888;">&nbsp;</div>
    <div style="margin: 0 auto 0 auto;padding: 20px;background-color:white;width:600px;font-family: Arial, sans-serif;border-left: 1px solid #aeaeae; border-right: 1px solid #aeaeae;line-height:140%;">

        <div style="font-size: 1.3em; font-family: 'Lobster', cursive; text-shadow: 2px 2px 4px rgba(150, 150, 150, 0.56);">
            <img src="{{ url_domain }}{{ league.logo_thumbnail_header.url }}" alt="{{ league.name }}">
            <span style="position:relative;bottom:15px;">{{ league.name }}</span>
        </div>

        <hr>
