{{ header_html }}

<h2>{{ event.name }} Registration Confirmation</h2>

<p>Hi {{ user }},</p>

<p>You are registered for <strong>{{ event.name }} - {{ league.name }}</strong>.</p>

{% if event.description %}
<div style="border-bottom: 1px solid #eaeaea;margin: 15px 0 5px 0;"></div>
    <h4>EVENT DETAILS</h4>
    {{ event.description_html|safe }}
    <div style="border-bottom: 1px solid #eaeaea;margin: 5px 0 15px 0;"></div>
{% endif %}


<h4>Your Information</h4>
<b>ABOUT YOU:</b><br>
Derby Name: {% if registration.derby_name %}{{ registration.derby_name }}{% else %}<empty, you can decide later>{% endif %}<br>
Derby Number: {% if registration.derby_number %}{{ registration.derby_number }}{% else %}<empty, you can decide later>{% endif %}<br>
<br>
{{ registration.contact_first_name }} {{ registration.lcontact_ast_name }}<br>
{{ registration.contact_address1 }} {{ registration.contact_address2 }}<br>
{{ registration.contact_city }}, {{ registration.contact_state }} {{ registration.contact_zip }}<br>
<br>
Phone: {{ registration.contact_phone }}<br>
Email: {{ registration.contact_email }}<br>
<br>
<br>
<b>EMERGENCY CONTACT INFO</b><br>
<br>
Contact #1: {{ registration.emergency_contact }} [{{ registration.emergency_relationship }}]<br>
Phone #1: {{ registration.emergency_phone }}<br>
<br>
{% if event.form_type == 'minor' %}
Contact #2: {{ registration.emergency_contact_second }} [{{ registration.emergency_relationship_second }}]<br>
Phone #2: {{ registration.emergency_phone_second }}<br>
{% endif %}
<br>
{% if event.form_type == 'minor' %}
    <b>PRIMARY PARENT/GUARDIAN CONTACT</b><br>
    <br>
    Name: {{ registration.parent1_name }} <i>({{ registration.parent1_relationship}})</i><br>
    Phone: {{ registration.parent1_phone }}<br>
    Email: {{ registration.parent1_email }}<br>
    <br>
    {% if registration.parent2_name %}
        <b>SECOND PARENT/GUARDIAN CONTACT</b><br>
        <br>
        Name: {{ registration.parent2_name }}{% if registration.parent2_relationship %} <i>({{ registration.parent2_relationship }})</i>{% endif %}<br>
        {% if registration.parent2_phone %}Phone: {{ registration.parent2_phone }}<br>{% endif %}
        {% if registration.parent2_email %}Email: {{ registration.parent2_email }}<br>{% endif %}
        <br>
    {% endif %}
{% endif %}

{% if payment %}
<h4>PAYMENT</h4>
<p>You paid ${{ payment.amount }} using {{ payment.get_card }}</p>
{% endif %}
<br>

{% if event.legal_forms.count > 0 or event.legal_forms_guardian.count > 0 %}
    <h4>LEGAL STUFF</h4>
    <p>You read and agreed to the following documents:</p>
    {% if event.form_type == 'minor' %}
        {% if event.legal_forms_guardian.count > 0 %}
        <i>Parent/Guardian:</i><br>
        <ol>
            {% for form in event.legal_forms_guardian.all %}
            <li><a href="{{ url_domain }}{{ event.get_legal_forms_url }}" target="_blank">{{ form.name }} ({{ form.date}})</a></li>
            {% endfor %}
        </ol><br>
        {% endif %}

        {% if event.legal_forms.count > 0 %}
        <i>Skater/Participant:</i><br>
        {% endif %}
    {% endif %}

    {% if event.legal_forms.count > 0 %}
    <ol>
        {% for form in event.legal_forms.all %}
        <li><a href="{{ url_domain }}{{ event.get_legal_forms_url }}" target="_blank">{{ form.name }} ({{ form.date}})</a></li>
        {% endfor %}
    </ol><br>
    {% endif %}
{% endif %}


<p>Please let us know if you have any questions. Thanks!</p>


{{ footer_html }}