{% extends "account/base.html" %}

{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}Password Reset{% endblock %}

{% block inner %}

    <h2>Password Reset</h2>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Enter your e-mail address below to request a password reset.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Reset My Password" />
    </form>

{% endblock %}