{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h2>{% if document %}Edit {{ document.name }} ({{ document.date }}){% else %}New Legal Document{% endif %}</h2>

{% include 'utils/messages.html' %}

{% if document.count > 0 %}
<div class="alert alert-warning" role="alert">
  You are no longer able to edit the date or content of this legal document. <strong>It has been agreed to by {{ document.count }} people.</strong> Please create a new document and assign it to a registration form.
</div>
{% endif %}

{% if document.id %}
<div class="alert alert-light" role="alert">
<strong>Public Link:</strong> This document can be <a href="{% url 'legal:view_legal_document' league_slug=document.league.slug document_slug=document.slug %}" target="_blank">publically viewed at this link.</a>
</div>
{% endif %}

{% crispy form %}


{% if document.count == 0 %}
<br/>
<br/>

<a href="{% url 'legal:admin_document_delete' document_id=document.pk %}">
<button type="button" class="btn btn-outline-danger">Delete Document</button>
</a>
{% endif %}

{% endblock %}