{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Legal Documents{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">

<div class="row mt-3 mb-3">
    <div class="col">
        <h3>Legal Documents</h3>
    </div>
    <div class="col text-right">
        <a href="{% url 'legal:admin_document_create_update' %}">
            <button type="button" class="btn btn-primary btn-sm">Create Legal Document</button>
        </a>
    </div>
</div>

{% include 'utils/messages.html' %}

<ul class="list-group">
{% for document in object_list %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href="{% url 'legal:admin_document_create_update' document_id=document.pk %}">{{ document.name }} ({{ document.date }})</a>
    <span class="badge badge-primary badge-pill">{{ document.legalsignature__count }}</span>
  </li>
{% endfor %}
</ul>

</div>
</div>
{% endblock %}