{% extends 'base.html' %}

{% block title %}Signed Forms{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">

<h2>Signed Forms</h2>

{% if registration_data %}
{% for reg in registration_data %}
<div class="card mb-4">
  <h5 class="card-header">{{ reg.event }}</h5>
    {% if reg.legalsignature_set.all.count > 0 %}
    <ul class="list-group list-group-flush">
    {% for signature in reg.legalsignature_set.all %}
        <li class="list-group-item">
            <a href="{% url 'legal:view_legal_document' document_slug=signature.document.slug league_slug=signature.document.league.slug %}" target="_blank" class="card-link">{{ signature.document.name }} ({{ signature.document.date }})</a>
            <p class="card-text">
                <small class="text-muted">
                    Agreed on {{ signature.agree_date }} by 
                    {% if reg.event.form_type == 'minor' %}
                        <i>'{{ signature.agreed_by }}'</i>.
                        {% if signature.agree_initials %}
                            Initialed by <strong>{{ signature.agree_initials }}</strong>.
                        {% endif %}
                    {% else %}
                        {{ reg.contact_first_name }} 
                        {{ reg.contact_last_name }}
                    {% endif %}
                </small>
            </p>
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <small class="m-3">No forms signed online for this event. They might be on hard copy.</small>
    {% endif %}
</div>
{% endfor %}
{% else %}
<p>Apparently, we have no signed forms to show you here. They might be on hard copy.</p>
{% endif %}

</div>
</div>
{% endblock %}