{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Manage League{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% if request.session.organization_admin %}<li class="breadcrumb-item"><a href="{% url 'league:league_list' organization_slug=request.user.organization.slug %}">Manage Leagues</a></li>{% endif %}
    <li class="breadcrumb-item active" aria-current="page">{% if league %}Edit{% else %}New{% endif %} League {% if not request.session.organization_admin %} Settings{% endif %}</li>
  </ol>
</nav>

<div class="container">
    <div class="row mb-3">
        {% if league.logo %}
            <img src="{{ league.logo_thumbnail_header.url }}" alt="{{ league.name }} logo" class="img-thumbnail">
        {% endif %}
        <h1 style="margin:5px 0 0 15px;">{% if league %}{{ league }}{% else %}New League{% endif %}</h1>
    </div>

    {% if warning %}
        <div class="alert alert-warning" role="alert">
            {{ warning|safe }}
        </div>
    {% endif %}

    {% include 'utils/messages.html' %}
    
    {% include 'league/league_menu.html' with base_settings_url=base_settings_url selected_tab=selected_tab organization_slug=league.organization.slug league_slug=league.slug %}

    <div class="row mt-3">
        {% if selected_tab == "insurance" %}
            {% if form %}
                {% include 'league/league_insurance_update.html' with insurancetype=insurancetype form=form organization_slug=league.organization.slug league_slug=league.slug %}
            {% else %}
                {% include 'league/league_insurance_list.html' with insurancetype_list=insurancetype_list organization_slug=league.organization.slug league_slug=league.slug %}
            {% endif %}
        {% elif selected_tab == "billing_group" %}
            {% if form %}
                {% include 'league/league_billing_groups_update.html' with billinggroup=billinggroup form=form organization_slug=league.organization.slug league_slug=league.slug %}
            {% else %}
                {% include 'league/league_billing_groups_list.html' with billinggroup_list=billinggroup_list organization_slug=league.organization.slug league_slug=league.slug %}
            {% endif %}
        {% elif selected_tab == "tags" %}
            {% include 'league/league_tags_list.html' with tags_list=tags_list organization_slug=league.organization.slug league_slug=league.slug %}
        {% else %}
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-name" role="tabpanel" aria-labelledby="nav-name-tab">
            {% crispy forms.name_form %}
            </div>
            <div class="tab-pane fade" id="nav-billing" role="tabpanel" aria-labelledby="nav-billing-tab">
            {% crispy forms.billing_form %}
            </div>
            <div class="tab-pane fade" id="nav-registration" role="tabpanel" aria-labelledby="nav-registration-tab">
            {% crispy forms.registration_form %}
            </div>
            <div class="tab-pane fade" id="nav-branding" role="tabpanel" aria-labelledby="nav-branding-tab">
            {% crispy forms.branding_form %}
            </div>
            <div class="tab-pane fade" id="nav-email" role="tabpanel" aria-labelledby="nav-email-tab">
            {% crispy forms.email_form %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}