   <div class="row mt-3">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link {% if not selected_tab %}active{% endif %}" id="nav-name-tab" {% if not base_settings_url %}data-toggle="tab"{% endif %} href="{{ base_settings_url }}#nav-name" role="tab" aria-controls="nav-home" aria-selected="true">Name and Image</a>
            <a class="nav-item nav-link" id="nav-billing-tab" {% if not base_settings_url %}data-toggle="tab"{% endif %} href="{{ base_settings_url }}#nav-billing" role="tab" aria-controls="nav-profile" aria-selected="false">Billing</a>
            <a class="nav-item nav-link" id="nav-registration-tab" {% if not base_settings_url %}data-toggle="tab"{% endif %} href="{{ base_settings_url }}#nav-registration" role="tab" aria-controls="nav-contact" aria-selected="false">Registration</a>
            <a class="nav-item nav-link" id="nav-email-tab" {% if not base_settings_url %}data-toggle="tab"{% endif %}href="{{ base_settings_url }}#nav-email" role="tab" aria-controls="nav-contact" aria-selected="false">Email</a>
            <a class="nav-item nav-link" id="nav-branding-tab" {% if not base_settings_url %}data-toggle="tab"{% endif %}href="{{ base_settings_url }}#nav-branding" role="tab" aria-controls="nav-contact" aria-selected="false">Branding</a>
            <a class="nav-item nav-link {% if selected_tab == "billing_groups"%} active{% endif %}" id="nav-groups-tab" href="{% url 'league:billing_groups_list' organization_slug=organization_slug slug=league_slug %}" role="tab">Billing Groups</a>
            <a class="nav-item nav-link {% if selected_tab == "insurance"%} active{% endif %}" id="nav-insurance-tab" href="{% url 'league:insurance_list' organization_slug=organization_slug slug=league_slug %}" role="tab" >Insurance</a>
            <a class="nav-item nav-link {% if selected_tab == "tags"%} active{% endif %}" id="nav-tags-tab" href="{% url 'league:tags_list' organization_slug=organization_slug slug=league_slug %}" role="tab" >User Tags</a>
          </div>
        </nav>
    </div>