{% extends 'base.html' %}

{% block title %}Manage Leagues{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <h3>Manage Leagues</h3>
    </div>
    <div class="row mt-3 mb-3">
        <a href="{% url 'league:league_create' organization_slug=request.user.organization.slug %}">
            <button type="button" class="btn btn-primary btn-sm">Create League</button>
        </a>
    </div>
    <div class="row">
        {% if leagues %}
            <div class="list-group">
                {% for league in leagues %}
                    <a href="{% url 'league:league_update' slug=league.slug organization_slug=request.user.organization.slug %}" class="list-group-item list-group-item-action">
                        {% if league.logo_thumbnail %}
                            <img src="{{ league.logo_thumbnail.url }}" alt="{{ league.name }} logo" class="img-thumbnail">
                        {% endif %}
                        {{ league.name }}
                    </a>
                {% endfor %}
            </div>
        {% else %}
            No Leagues found. Maybe you should create one?
        {% endif %}
    </div>

</div>

{% endblock %}