{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block css %}
<style type="text/css">
.filter-inline .form-group {
    padding: 6px 4px 8px 4px;
    margin-right: 6px;
}
table tbody tr:hover {
    cursor: pointer;
    background-color: #fafafa;
}
</style>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function() {
    $('table tbody tr').click(function(){
        location.href='/roster/' + $(this).attr('data-id') + '/profile';
    })
});
</script>
{% endblock %}



{% block title %}League Roster{% endblock %}


{% block content %}

<h4>League Roster</h4>

{% if filter_form %}
    <fieldset>
        <form action="" method="get" class="form filter-form">
            {% crispy filter_form %}
            <input type="submit" class="btn btn-primary btn-sm filter-button" value="Filter">
            <a href="?filtered=True"><button type="button" class="btn btn-secondary btn-sm">Clear</button></a>
        </form>
    </fieldset>
{% endif %}

<div class="text-right mb-3">
    <a href="?{{ request.GET.urlencode }}&csv=please">
        <button type="button" class="btn btn-primary btn-sm">CSV</button>
    </a>
</div>

{% render_table table %}

{% endblock %}