<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'roster:list'%}">Roster List</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ user.legal_name }}</li>
  </ol>
</nav>

<h4>League Roster - {{ user.legal_name }} {% if user.derby_name %}<span class="text-muted">({{ user.derby_name }})</span>{% endif %}</h4>

<div class="mb-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if submenu_selected == "profile" %}active{% endif %}" href="{% url 'roster:admin_profile' pk=user.pk %}">
        Profile
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if submenu_selected == "events" %}active{% endif %}" href="{% url 'roster:admin_events' pk=user.pk %}">
        Events
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if submenu_selected == "billing" %}active{% endif %}" href="{% url 'roster:admin_billing' pk=user.pk %}">
        Invoices {% if unpaid_invoice_count %}<span class="badge badge-danger">{{ unpaid_invoice_count }}</span>{% endif %}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if submenu_selected == "subscriptions" %}active{% endif %}" href="{% url 'roster:admin_subscriptions' pk=user.pk %}">
        Subscriptions {% if active_subscription_count %}<span class="badge badge-primary">{{ active_subscription_count }}</span>{% endif %}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if submenu_selected == "legal" %}active{% endif %}" href="{% url 'roster:admin_legal' pk=user.pk %}">
        Legal
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if submenu_selected == "tags" %}active{% endif %}" href="{% url 'roster:admin_tags' pk=user.pk %}">
        Tags
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if submenu_selected == "notes" %}active{% endif %}" href="{% url 'roster:admin_notes' pk=user.pk %}">
        Notes
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if submenu_selected == "membership" %}active{% endif %}" href="{% url 'roster:admin_membership' pk=user.pk %}">
        Membership
      </a>
    </li>
  </ul>
</div>

{% include 'utils/messages.html' %}