{% extends 'base.html' %}

{% block title %}About - Rink{% endblock %}

{% block content %}

<h3>About - Rink</h3>

<div class="container">
    <div class="row">
        <div class="col-sm-6 text-justify">

<p class="mt-3">
    Way back in 2012, Audi took over the finance/administration position for the <i>Mad Wreckin' Dolls</i>.
    This was before the league was rebranded <i>Madison Wreckers</i>.
</p>
<p>
    At some point processing checks and cash payments manually for ~150 people monthly became a pain. Audi
    and her husband <a href="https://silvers.net/contact.php" target="_blank">Dan Silvers</a> (who just happens to be a web developer) decided to make collecting dues a bit less of a headache.
</p>

<p>
    Eventually, they built a webapp to streamline registration and dues collection. It went pretty great. Many admin job hours were saved. Eventually, 2018 rolled around and the league outgrew the monolith that was version 1.0.
</p>

<p>
    You're looking at the second version of Rink. New features include supporting multiple leagues,
    improved automatic administration tools, smarter payments, flexible registration, custom branding and more.
</p>

<p>
    If you or your company needs some custom website/app work done, <a href="mailto:rink@silvers.net">please give Dan a shout :)</a>.
</p>

        </div>
    </div>
</div>

{% endblock %}